* {
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    background-color: #54343f;
    text-align: center;
}

h1 {
    color: white;
    padding: 20px;
    font-size: 3em;
}

#texto {
    color: white;
    visibility: hidden;
}

#texto {
    color: #7dbeb8;
    font-size: 2em;
    margin: 10px
}

#tablero {
    margin: auto;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 15px;
    align-items: center;
} 

#tablero button {
    width: 200px;
    height: 170px;
    font-size: 4em;
    transition: all ease 1s;
    border: none;
}

